flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3c948d6f.80cba2","type":"loxone-control-in","z":"f6f2187d.f17ca8","name":"","miniserver":"dab688d.a539d78","control":"108f2851-0057-43e5-ffff889f15725144","state":"108f2851-0057-43e5-ffff889f15725144","x":660,"y":780,"wires":[["b68271d3.3ac9d"]]},{"id":"b68271d3.3ac9d","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":780,"wires":[]},{"id":"feb301a4.61633","type":"Velux Api","z":"f6f2187d.f17ca8","name":"","datasource":"7445b770.9c6bf8","api":"270","ntf":[],"topic":"","x":1160,"y":680,"wires":[["adacde57.88a9a"]]},{"id":"adacde57.88a9a","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":780,"wires":[]},{"id":"2b76bb7e.a356d4","type":"Unifi","z":"f6f2187d.f17ca8","name":"Unifi Controller","ip":"172.16.1.40","port":8443,"site":"default","command":"1","unifios":false,"x":510,"y":840,"wires":[["d8c9f6d1.950788"]]},{"id":"d8c9f6d1.950788","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770,"y":840,"wires":[]},{"id":"ff86cbd7.1e2d88","type":"trigger","z":"f6f2187d.f17ca8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":230,"y":800,"wires":[["2b76bb7e.a356d4"]]},{"id":"fc40b1b5.b36d2","type":"loxone-control-in","z":"f6f2187d.f17ca8","name":"Dachfenster Rollo","miniserver":"dab688d.a539d78","control":"147b02a2-000a-b25b-ffff889f15725144","state":"147b02a2-000a-b257-ffff33402e96767f","x":130,"y":120,"wires":[["164b4133.8b174f"]]},{"id":"e0c48d01.12c59","type":"debug","z":"f6f2187d.f17ca8","name":"Position Dachfenster Rollo","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":180,"wires":[]},{"id":"ff0b1962.c8f778","type":"Velux Nodes","z":"f6f2187d.f17ca8","name":"Dachfenster Rollo links","datasource":"7445b770.9c6bf8","index":"2","nodevalue":"TARGET","topic":"","x":560,"y":60,"wires":[["5c727fc2.94c32"]]},{"id":"5c727fc2.94c32","type":"debug","z":"f6f2187d.f17ca8","name":"Position Rollladen links","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"164b4133.8b174f","type":"function","z":"f6f2187d.f17ca8","name":"convert to %","func":"msg.payload = (String(parseFloat((msg.payload * 100).toFixed(2))));\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["e0c48d01.12c59","ff0b1962.c8f778","4bf87c49.6f7e24"]]},{"id":"4bf87c49.6f7e24","type":"Velux Nodes","z":"f6f2187d.f17ca8","name":"Dachfenster Rollo rechts","datasource":"7445b770.9c6bf8","index":"3","nodevalue":"TARGET","topic":"","x":570,"y":120,"wires":[["39e33663.75623a"]]},{"id":"39e33663.75623a","type":"debug","z":"f6f2187d.f17ca8","name":"Position Rollladen rechts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"ccbe1b1d.28f778","type":"loxone-control-in","z":"f6f2187d.f17ca8","name":"Dachfenster","miniserver":"dab688d.a539d78","control":"147b02a9-01e6-da4b-ffff889f15725144","state":"147b02a9-01e6-da48-ffffeabd63439869","x":110,"y":380,"wires":[["c5be7d21.f189b"]]},{"id":"c5be7d21.f189b","type":"function","z":"f6f2187d.f17ca8","name":"convert to %","func":"var position = parseFloat((Math.abs(msg.payload - 1 ) * 100).toFixed(2))\nmsg.payload = String(position);\ndelete msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["1ee92f95.d742","33cf480e.2bcf38","9dfef1e6.81437"]]},{"id":"1ee92f95.d742","type":"debug","z":"f6f2187d.f17ca8","name":"Position Dachfenster","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":440,"wires":[]},{"id":"33cf480e.2bcf38","type":"Velux Nodes","z":"f6f2187d.f17ca8","name":"Dachfenster rechts","datasource":"7445b770.9c6bf8","index":"0","nodevalue":"TARGET","topic":"","x":550,"y":380,"wires":[["65e68d5c.0b85c4"]]},{"id":"9dfef1e6.81437","type":"Velux Nodes","z":"f6f2187d.f17ca8","name":"Dachfenster links","datasource":"7445b770.9c6bf8","index":"1","nodevalue":"TARGET","topic":"","x":550,"y":320,"wires":[["69804eb0.99a51"]]},{"id":"65e68d5c.0b85c4","type":"debug","z":"f6f2187d.f17ca8","name":"Position Fenster rechts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":820,"y":380,"wires":[]},{"id":"69804eb0.99a51","type":"debug","z":"f6f2187d.f17ca8","name":"Position Fenster links","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":820,"y":320,"wires":[]},{"id":"dab688d.a539d78","type":"loxone-miniserver","host":"172.16.1.42","port":"80","enctype":"0","active":true,"keepalive":"30000"},{"id":"7445b770.9c6bf8","type":"velux-connection","host":"172.16.1.65","password":"sMzd5uyuzp","monitor":"MONITOR"}]
